{% extends 'base-backend.html.twig' %}

{% block title %}Index des Sponsors{% endblock %}

{% block body %}

{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
    
    <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Index des sponsors</h1>
    <a href="{{ path('app_admin_sponsor_new') }}" class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ImageName</th>
                <th>SiteWeb</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                <td>{{ sponsor.id }}</td>
                <td>{{ sponsor.name }}</td>
                <td>{{ sponsor.imageName }}</td>
                <td>{{ sponsor.siteWeb }}</td>
                <td>{{ sponsor.slug }}</td>
                <td>
                    <a href="{{ path('app_admin_sponsor_show', {'id': sponsor.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_sponsor_edit', {'id': sponsor.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
