{% extends 'base.html.twig' %}

{% block title %}Nos Vidéos{% endblock %}

{% block body %}
<h1>Nos Vidéos</h1>
<style>
    h1 {
        font-family: 'Roboto';
    }
</style>

<div class="row">
<ul>
{% for categorie in categories %}
<li>{{ categorie.title}} <ul>
    {% for video in categorie.videos %}
   <li>{{ <video controls src="{{asset ('videos/' ~ video.videoName)}}" class="card-img-top" alt="..."></video>}}</li>
    {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>
<div class="col-12 col-md-3 col-xl-2 mb-4 " >
<div class="card bg-dark"  >
    <video controls src="{{asset ('videos/' ~ video.videoName)}}" class="card-img-top" alt="..."></video>
    
    <div class="card-body   p-4 m-4" style="background-color: #B76E79;font-family: 'Roboto';" >
        <a href="{{ path('app_video_show', {slug: video.slug}) }}" class="text-dark"> {{ video.title }}</a>
    </div>
</div>
</div>
</div>

{% endblock %}
