{% extends 'base.html.twig' %}

{% block title %}{{video.title}}{% endblock %}

{% block body %}

<h1>{{video.title}}</h1>
<div class="row">
    <div class="col-12-col-md-3">
    {% if video.videoName is defined and video.videoName is not null %}
    <video controls src="{{asset ('videos/' ~ video.videoName) }}" alt="" class="img-fluid">
    
    {% else %}
    <img src="{{ asset ('videos/imagedefaut.jpg') }}" alt="" class="img-fluid">
    {% endif %}
    </div>
    <div class="col-12 col-md-9">
    <h2>Description</h2>
    <p>{{ video.description }}</p>

    <h2>Catégorie</h2>
   
    <li>{{ video.categorie }}</li>

    <h2>Sponsor(s)</h2>
    <img src="{{ asset ('sponsors/' ~ video.sponsor ) }}" alt="" class="img-fluid">
    <div>{{ video.sponsor.name }}</div>


    </ul>
    </div>
</div>
{% endblock %}