{% extends 'base.html.twig' %}

{% block title %}{{video.titre}}{% endblock %}

{% block body %}

<h1>{{video.title}}</h1>
<div class="row">
    <div class="col-12-col-md-3">
    {% if video.imageName is defined and video.imageName is not null %}
    <img src="{{asset ('images/videos/alimentation' ~ video.imageName) }}" alt="" class="img-fluid">
    
    {% else %}
    <img src="{{ asset ('image/videos/imagedefaut.jpg') }}" alt="" class="img-fluid">
    {% endif %}
    </div>
    <div class="col-12 col-md-9">
    <h2>Description</h2>
    <p>{{ video.description }}</p>

    <h2>Catégorie</h2>
    {% for categorie in video.categories %}
    <li>{{ categorie }}</li>

    <h2>Sponsor(s)</h2>
    {% for sponsor in video.sponsors %}
    <li>{{ sponsor }}</li>
    {% endfor %}

    </ul>

    </div>
</div>
{% endblock %}