
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="{{path('app_admin_dashboard')}}">
        <span class="align-middle">Bloom in VOD</span>
        </a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
			Générique
			</li>

			<li class="sidebar-item active">
				<a class="sidebar-link" href="{{path('app_admin_dashboard')}}">
                <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
			</li>
            
            <li class="sidebar-item active">
				<a class="sidebar-link" href="{{path('app_admin_dashboard')}}">
                <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profil</span>
                </a>
			</li>

            <li class="sidebar-header">
			Vidéos
			</li>

            <li class="sidebar-item">
				<a class="sidebar-link" href="{{path('app_admin_categorie_index')}}">
                <i class="align-middle" data-feather="bookmark"></i> <span class="align-middle">Categories</span>
                </a>
			</li>
            
            <li class="sidebar-item">
				<a class="sidebar-link" href="{{path('app_admin_video_index')}}">
                <i class="align-middle" data-feather="film"></i> <span class="align-middle">Vidéos</span>
                </a>
			</li>
            <li class="sidebar-item">
				<a class="sidebar-link" href="{{path('app_admin_sponsor_index')}}">
                <i class="align-middle" data-feather="dollar-sign"></i> <span class="align-middle">Sponsors</span>
                </a>
			</li>

		</ul>
				
	</div>
</nav>